@using EntityLayer.Concrete
@model List<Message2>
@{
    ViewData["Title"] = "SendBox";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Gönderilen Mesajlar</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Alıcının Resmi</th>
        <th>Alıcının İsmi</th>
        <th>Konu</th>
        <th>Tarih</th>
        <th>Mesajı Aç</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        @if (!item.SenderDeleteStatus)
        {
            <tr>
                <td>@item.MessageId</td>
            <td><img src="@item.Receiver.ImageUrl" alt="Sender Image" style="width:50px; height:50px; border-radius:50%;"></td>
            <td>@item.Receiver.NameSurname</td>
            <td>@item.Subject</td>
            <td>@(((DateTime)item.MessageDate).ToString("dd-MMM-yyyy"))</td>
            <td><a href="/Message2/MesajDetails/@item.MessageId" class="btn btn-warning">Mesajı Aç </a></td>
            <td>
                <form action="/Message2/DeleteMessage/@item.MessageId" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-danger" data-placement="top"><i class="fa fa-times"></i> Sil</button>
                </form>
            </td>
        </tr>
        }
    }
</table>
<a href="/Message2/SendMessage/" class="btn btn-primary">Yeni Mesaj Oluştur.</a>

