@model UserUpdateViewModel
@{
    ViewData["Title"] = "WriterEditProfil";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}
<script src="/lib/jquery/dist/jquery.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Kullanici Profil Düzenleme Sayfasi</h4>
                <br />
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <br />
                    <div class="form-group">
                        <label for="exampleInputName1">Yazar Adı</label>
                        <input type="text" asp-for="@Model.namesurname" class="form-control"/>
                    <span asp-validation-for="@Model.namesurname" class="text-danger"></span>
                        <br />
                    </div>
                    <div class="form-group">
                        <label >Kullanıcı Adınız</label>
                    <input type="text" asp-for="@Model.username" class="form-control" readonly="readonly"/>
                        <br />
                    </div>
                    <div class="form-group">
                        <label >Telefon Numarası</label>
                    <input type="text" asp-for="@Model.phonenumber" class="form-control" />
                    <span asp-validation-for="@Model.phonenumber" class="text-danger"></span>
                        <br />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail3">Mail Adresi</label>
                    <input type="text" asp-for="@Model.email" class="form-control" readonly="readonly" />
                        <br />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword4">Parola</label>
                    <input type="text" asp-for="@Model.passwordhash" class="form-control" readonly="readonly" />
                    <span asp-validation-for="@Model.passwordhash" class="text-danger"></span>
                    <br />
                    <label for="exampleInputPassword4">Parola Değiştirmek İstiyorum</label>
                    <input type="checkbox" id="changePasswordCheckbox" asp-for="@Model.changePasswordCheckbox" onchange="togglePasswordReadonly()" />
                    
                    </div>
@*                     <div class="form-group">
                        <label for="exampleInputPassword4">Parolayı Doğrulayın</label>
                        <input type="password" class="form-control" id="exampleInputPassword4" asp-for="WriterPassword" name="pass2" value="@ViewBag.WriterPassword">
                        <p class="text text-danger">@ViewBag.hata</p>
                    </div> *@
                    @Html.Label("Kullanici Görseli")
                    <div>
                        <img src="@Model.ımageurl" id="imagePreview" alt="Placeholder Image" style="max-width: 200px; max-height: 200px;" />
                    <input type="hidden" asp-for="@Model.ımageurl"  />

                    @* <input type="text" asp-for="@Model.ımageurl" class="form-control"  /> *@
                    <input type="file" asp-for="@Model.UserImageLocation" class="form-control"  accept=".png, .jpg, .jpeg" />
                        <br />
                    </div>

                    <div class="form-group">
                        <label for="exampleTextarea1">Yazar Hakkında</label>
                    <textarea asp-for="@Model.userabout" class="form-control" style="height: 12.3rem;"></textarea>
                    @* <input type="text" asp-for="@Model.userabout" class="form-control" style="height: 12.3rem; resize: none;" />
 *@                    <span asp-validation-for="@Model.userabout" class="text-danger"></span>
                        <br />
                    </div>
                <input type="hidden" asp-for="@Model.normalizedemail" />

                <input type="hidden" asp-for="@Model.normalizedusername" />
@*                     @Html.HiddenFor(x => x.WriterStatus) *@
                    <button type="submit" id="btn1" class="btn btn-gradient-primary mr-2">Güncelle</button>
                </form>
            </div>
        </div>
    </div>

<script>
    // Sayfa yüklendiğinde, checkbox'ın durumu kontrol edilip input readonly yapılır
    window.onload = function () {
        togglePasswordReadonly();
    };

    // Checkbox'a tıklanması durumunda readonly özelliğini kontrol eder
    function togglePasswordReadonly() {
        var checkbox = document.getElementById('changePasswordCheckbox');
        var passwordField = document.getElementById('passwordhash');

        // Eğer checkbox işaretli ise readonly kaldırılır, değilse readonly eklenir
        if (checkbox.checked) {
            passwordField.removeAttribute('readonly');  // readonly kaldır
        } else {
            passwordField.setAttribute('readonly', 'readonly');  // readonly ekle
        }
    }
</script>

@* <script>
    $('#btn1').click(function (event) {
/*         event.preventDefault(); */ // Varsayılan davranışı engelle.
        var password1 = $('input[name="pass1"]').val();
        var password2 = $('input[name="pass2"]').val();

if (password1 !== password2) {
    swal({
        title: "Parolalar eşleşmiyor!",
        text: "Lütfen tekrar deneyin.",
        icon: "error",
        confirmButtonText: "Tamam"
    });
    return; // Formu göndermeyi engelle
}
        // Formdaki verileri al ve sunucuya gönder
        var form = $(this).closest('form'); // Bu butonun ait olduğu formu seç
        $.ajax({
            url: form.attr('action'), // Formun action değerini al (/Blog/EditBlog)
            type: form.attr('method'), // Formun method değerini al (POST olmalı)
            data: form.serialize(), // Formdaki verileri JSON formatında al
            success: function () {
                // Güncelleme başarılı olduğunda
                swal({
                    title: "Güncellendi",
                    text: "Başarılı Bir Şekilde Blogunuz Güncellendi!",
                    icon: "success",
                    button: "Tamam!",
                }).then((value) => {
                    // "Tamam!" butonuna basıldığında yönlendir
                    window.location.href = "/DashBoard/Index"; // Yönlendirilecek URL
                });
            }
        });
    });
</script> *@

